

h1, h2, h3 {
    color: #5c5c5c;
    text-align: center;
}

#firstview {
    width: 100vw;
    height: 30vh;
    background: url("../upload/2504865.png");
    background-color: #eef9ff;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: cover;
    margin: 0 auto;
    box-sizing: border-box;
    /*object-fit: cover;*/
}

@media screen and (min-width: 600px) {
    #firstview {
        width: 100vw;
        height: 40vh;
        background: url("../upload/2504862.png");
        background-color: #eef9ff;
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: cover;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1025px) {
    #firstview {
        width: 100%;
        height: 55vh;
        background: url("../upload/2419236.jpg");
        background-repeat: no-repeat;
        background-position: center 0%;
        background-size: cover;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

h1 {
    font-size: 1.5rem;
    padding-top: 10px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}


@media screen and (min-width: 600px) {
    h1 {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 1025px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 1.2rem;
    padding-top: 3vh;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 1025px) {
    h2 {
        font-size: 2.0rem;
        margin-top: 5vh;
    }
}

.logo_img {
    width: 25vw;
}

@media screen and (min-width: 600px) {
    .logo_img {
        width: 20vw;
    }
}

@media screen and (min-width: 1025px) {
    .logo_img {
        width: 10vw;
    }
}
