footer {
  width: 100%;
  background-color: aliceblue;
  position: fixed;
  bottom: 0;
  z-index:999;
}

#app {
  padding-bottom: 10vh;
}

.footer_main {
  display: flex;
  justify-content: space-around;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.footer_link:link, .footer_link:visited {
    color:#5c5c5c;
}


.footer_link:hover, .footer_link:active {
  color: #3490DC;
  text-decoration: none;
}

.home, .mypage, .my_record {
  text-align: center;
}
