.firstview_text {
    text-align: center;
    padding-top: 3vh;
}

.firstview_phrase {
    font-size: 4.5vw;
    font-weight: 900;
    animation: textcolor infinite 20s;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
}

@media screen and (min-width: 600px) {
    /* .firstview_text {
        position: absolute;
        top: 13%;
        left: 31%;
    } */
}

@media screen and (min-width: 1025px) {
    .firstview_text {
        text-align: center;
        padding-top: 7vh;
    }

    .firstview_phrase {
        font-size: 3.5vw;
        animation: textcolor infinite 20s;
        letter-spacing: 1.0rem;
    }

    p {
        font-size: 1.5vw;
    }
}

@keyframes textcolor {
  0% {
    color: #2980b9;
  }
  20% {
    color: #4895e8;
  }
  40% {
    color: #2169B2;
  }
  60% {
    color: #7791C3;
  }
  80% {
    color: #50c3d7;
  }
  100% {
    color: #57DDBD;
  }
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.main {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.primary_prevention {
    width: 45%;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
    border-radius: 20px;
    background-color: #f5f7fd;
}

.primary_prevention:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.secondary_prevention {
    width: 45%;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
    border-radius:20px;
    background-color: #f5f7fd;
}

.secondary_prevention:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.item_img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
    text-align: center;
    background-color: #ecf3f9;
}

.img {
    width: 30vw;
    height: 15vh;
}

@media screen and (min-width: 600px) {
    .img {
        width: 30vw;
        height: 20vh;
    }
}

@media screen and (min-width: 1025px) {
    .img {
        width: 30vw;
        height: 50vh;
    }
}

.item_title {
    color: black;
    padding: 0.5vh;
    text-align: center;
    border-bottom: none;
    font-style: oblique;
}

.item_contents {
    color: black;
    margin: 0 auto;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    position:relative;
}

.item_contents::after {
    content:"";
    display:block;
    width:90%;
    height:1px;
    background-color: #dedede;
    position:absolute;
    bottom:0;
    left:5%;
}

@media screen and (min-width: 600px) {
    .item_title {
        font-size: 1.5rem;
        padding: 0.5vh;
        text-align: center;
        border-bottom: none;
    }

    .item_contents {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1025px) {
    .item_title {
        font-size: 1.5rem;
        padding: 0.5vh;
        text-align: center;
        border-bottom: none;
    }

    .item_contents {
        font-size: 1.5rem;
        height: 9vh;
        line-height: 9vh;
    }
}



.reminder_comment {
    text-align: center;
    margin-top: 5vh;
}

.reminder {
    text-align: center;
}

.prevention_title {
    width: 100%;
    height: 6vh;
    display: table;
    font-size: 1.2rem;
    padding: 0.5vh;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 600px) {
    .prevention_title {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1025px) {
    .prevention_title {
        font-size: 1.7rem;
        height: 12vh;
    }

    .main {
        margin-top: 5vh;
        margin-bottom: 7vh;
    }
}

.prevention_title p {
    display: table-cell;
    vertical-align: middle;
}

.button_area {
    margin-bottom: 5vh;
}

.prevention_link:link, .prevention_link:visited {
    color:#5c5c5c;
}


.prevention_link:hover, .prevention_link:active {
    color: #3490DC;
    text-decoration: none;
}

p {
  text-align: center;
}
