.wrap {
  width: 90%;
  margin:0 auto;
}

.top_container {
  width: 100%;
}

.top {
  width: 100%;
}

.item_img {
  width:100%;
}

.img {
  width: 100%;
}

p {
  text-align: center;
}

.main_container {
  margin: 6vh auto;
}

.main {
  display:flex;
  overflow-x:auto;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.main::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.box {
  border-radius: 8px;
  box-shadow: 0px 0px 10px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
  background-color: #fffbf4;
  margin-right: 3vw;
  margin-bottom: 2vw;
}

.item_title {
  position: relative;
}

.item_title::after {
  content:"";
  display:block;
  width:90%;
  height:1px;
  background-color: #dedede;
  position:absolute;
  bottom:0;
  left:5%;
}

.title {
  width:100%;
  padding:2vw;
  font-weight: 800;
  color:#5c5c5c;
}

.exercise_title,.sleep_title {
  padding:2vw;
}

@media screen and (min-width: 600px) {
  .exercise_title,.sleep_title {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1025px) {
  .exercise_title,.sleep_title {
    font-size: 1.3rem;
  }
}

.food_img {
  width: 60vw;
  height: 26vh;
  padding: 2vw;
}

@media screen and (min-width: 600px) {
  .title {
    width:100%;
    padding:2vw;
    font-size: 1.5rem;
  }

  .food_img {
    width: 40vw;
    height: 23vh;
    padding: 2vw;
  }
}

@media screen and (min-width: 1025px) {
  .food_img {
    width: 30vw;
    height: 45vh;
    padding: 2vw;
  }
}

.contents {
  padding: 2vw;
}

.explanation {
  margin-top:3vh;
  margin-bottom: 5vh;
  border: 0.1rem solid #5c5c5c;
  padding: 2vw;
}

.attention {
  padding:2vw;
  border: 0.1rem solid #5c5c5c;
  border-radius: 20px;
  margin:0 auto;
  margin-top:3vh;
}



h5 {
  text-align: center;
  color: #3490DC;
  margin-bottom: 2vh;
}

.back {
  text-align: center;
}

.brinkman_calculator {
  width:90vw;
  text-align:right;
}

#calc_button {
  margin-right:5vw;
  margin-bottom: 1vh;
}

#brinkman_result {
  margin-right: 5vw;
}

.brinkman_evaluation {
  width: 90vw;
  margin:0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: left;
  background-color: #E1F5FE;
  border-radius: 20px;
  padding:2vw;
}

@media screen and (min-width: 600px) {
  .brinkman_calculator {
    width:70vw;
    text-align:right;
  }

  #calc_button {
    margin-right:2.5vw;
    margin-bottom: 1vh;
  }

  #brinkman_result {
    margin-right: 2.5vw;
  }

  .brinkman_evaluation {
    width: 50vw;
  }
}

@media screen and (min-width: 1025px) {
  .brinkman_calculator {
    width:60vw;
    text-align:right;
  }

  #calc_button {
    margin-right:1.5vw;
    margin-bottom: 1vh;
  }

  #brinkman_result {
    margin-right: 1.5vw;
  }

  .brinkman_evaluation {
    width: 40vw;
  }
}

.select_box {
  text-align: center;
  width: 8vw;
}

.tds_title {
  text-align: center;
}

.tds_context_title {
  text-align: center;
}

.tds_radio {
  text-align: center;
}

.score_button {
  text-align: right;
  padding-right: 3vw;
  margin-top: 1.5vh;
}

.tds_result {
  text-align: right;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.tds_comment {
  text-align: right;
}

#tds_result_comment {
  background-color: #E1F5FE;
}

.consultation_conditions {
  width: 60vw;
  margin:0 auto;
  background-color: #E1F5FE;
  border-radius: 20px;
  margin-bottom: 5vh;
  padding-top:2vh;
  padding-bottom: 0.3vh;
}

@media screen and (min-width: 600px) {
  .consultation_conditions {
    width: 45vw;
  }
}

@media screen and (min-width: 1025px) {
  .consultation_conditions {
    width: 30vw;
  }
}

.drink_tbl {
  margin:0 auto;
}

.drinking_amount_title {
  text-align: center;
}

.drinking_kind {
  width: 50vw;
}

.drinking_amount {
  margin:auto 0;
  line-height:35px;
}

.amount_counter_minus,.amount_counter_plus {
  color: #3490DC;
  cursor: pointer;
  cursor: hand;
}

.input_amount {
  width: 10vw;
}

.drinking_calculation {
  margin: 3vh 0 3vh 0;
  text-align: center;
}

.drink_calculation_button {
  width: 150px;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
  border-radius:20px;
  background-color: #f5f7fd;
}

.drink_calculation_button:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.drinking_amount_result {
  text-align: center;
}

.drinking_amount_comment {
  margin: 3vh 0 3vh 0;
}

.audit_item {
  margin-left: 2vw;
}

.audit_calculation {
  text-align: center;
  margin: 3vh 0 3vh 0;
}

.audit_calculation_button {
  width: 150px;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
  border-radius:20px;
  background-color: #f5f7fd;
}

.audit_calculation_button:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.audit_result_box {
  text-align: center;
  margin-bottom: 3vh;
}

.audit_comment {
  margin: 3vh 0 3vh 0;
}
