.firstview_text {
    text-align: center;
    padding-top: 3vh;
}

.firstview_phrase {
    font-size: 4.5vw;
    font-weight: bold;
    letter-spacing: 0.5vw;
    animation: textcolor infinite 20s;
}

@media screen and (min-width: 600px) {
    /* .firstview_text {
        position: absolute;
        top: 13%;
        left: 31%;
    } */
}

@media screen and (min-width: 1025px) {
    .firstview_text {
        text-align: center;
        padding-top: 7vh;
    }

    .firstview_phrase {
        font-size: 3.5vw;
        font-weight: bold;
        letter-spacing: 0.5vw;
        animation: textcolor infinite 20s;
    }
}

@keyframes textcolor {
  0% {
    color: #2980b9;
  }
  20% {
    color: #4895e8;
  }
  40% {
    color: #2169B2;
  }
  60% {
    color: #7791C3;
  }
  80% {
    color: #50c3d7;
  }
  100% {
    color: #57DDBD;
  }
}

.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
}

.main-container{
    width: 100%;
}

.box{
    width:100%;
}

@media screen and (min-width: 600px) {
    .box {
        width:80%;
    }
}

@media screen and (min-width: 1025px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.recommendation {
    width: 90vw;
    height: 55vh;
    position: relative;
    margin-bottom: 1.0vw;
}


.recommendation-img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    text-align: center;
    border: solid #5c5c5c 0.18rem;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
}

.img {
    width: 60%;
    height:30vh;
    text-align: center;
}

.contents {
    border: solid #5c5c5c 0.18rem;
    border-top: solid #5c5c5c 0.05rem;
    border-bottom: dotted #5c5c5c 0.05rem;
}

.recommendation-title {
    margin-top: 1vh;
    margin-left: 2vw;
}

.recommendation-content {
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.recommendation_action {
    display: flex;
    justify-content: space-between;
    border: solid #5c5c5c 0.18rem;
    border-top: none;
    border-radius: 0 0 20px 20px;
}

.recommendation_done {
    margin-left: 3vw;
    margin-top: 1vh;
    font-size: 1.2rem;
    margin-bottom:1vh;
}

.recommendation_go {
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom:1vh;
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .recommendation {
        width:90vw;
    }

    .img {
        width: 50%;
        height:30vh;
        text-align: center;
    }


}

@media screen and (min-width: 1025px) {
    .recommendation {
        width: 40vw;
        height: 55vh;
        margin: 2vw;
        position: relative;
    }

    .img {
        width: 45%;
        height:30vh;
        text-align: center;
    }
}

.action_done:link, .action_done:visited {
    color:#5c5c5c;
}


.action_done:hover, .action_done:active {
    color: #3490DC;
    text-decoration: none;
}

.action_detail:link, .action_detail:visited {
    color:#5c5c5c;
}


.action_detail:hover, .action_detail:active {
    color: #3490DC;
    text-decoration: none;
}
