.firstview_text {
    text-align: center;
    padding-top: 3vh;
}

.firstview_phrase {
    font-size: 4.5vw;
    font-weight: 900;
    letter-spacing: 0.5rem;
    animation: textcolor infinite 20s;
    font-family: sans-serif;
    letter-spacing: 0.5rem;
}

@media screen and (min-width: 1025px) {
    .firstview_text {
        text-align: center;
        padding-top: 7vh;
    }

    .firstview_phrase {
        font-size: 3.5vw;
        animation: textcolor infinite 20s;
        letter-spacing: 1.0rem;
    }
}

@keyframes textcolor {
  0% {
    color: #2980b9;
  }
  20% {
    color: #4895e8;
  }
  40% {
    color: #2169B2;
  }
  60% {
    color: #7791C3;
  }
  80% {
    color: #50c3d7;
  }
  100% {
    color: #57DDBD;
  }
}

.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
}

.main-container{
    width: 100%;
}

.box{
    width:100%;
}

@media screen and (min-width: 1025px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.recommendation {
    width: 90vw;
    height: 48vh;
    position: relative;
    margin: 0 auto;
    margin-bottom: 6.0vw;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
    border-radius: 20px;
    background-color: #f5f7fd;
}

@media screen and (min-width: 600px) {
    .recommendation {
        width: 80vw;
        height: 48vh;
        position: relative;
        margin-bottom: 6.0vw;
        box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
        border-radius: 20px;
        background-color: #f5f7fd;
    }
}

@media screen and (min-width: 1025px) {
    .recommendation {
        width: 60vw;
    }
}

.recommendation-img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    text-align: center;
    background-color: #fbf6f4;
    border-radius: 20px 20px 0 0;
}

.img {
    width: 60%;
    height:30vh;
    text-align: center;
}

.recommendation-title {
    margin-top: 2vh;
    margin-left: 2.5vw;
}

.recommendation-content {
    margin-left: 2.5vw;
}

.recommendation_action {
    display: flex;
    justify-content: space-between;
}

.recommendation_done {
    font-size: 1.3rem;
}

.recommendation_go {
    font-size: 1.3rem;
}


.action_done {
    margin-left: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
    background-color: #ececec;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
    text-align: center;
    width: 35vw;
    padding:0.5vh;
}

.action_done:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.action_detail {
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
    background-color: #ececec;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
    text-align: center;
    width: 35vw;
    padding:0.5vh;
}

.action_detail:active {
    box-shadow: none;
    position: relative;
    top: 1.5px;
}

.action_done:link, .action_done:visited {
    color:#5c5c5c;
}


.action_done:hover, .action_done:active {
    background-color: #cbe2da;
    text-decoration: none;
}

.action_detail:link, .action_detail:visited {
    color:#5c5c5c;
}


.action_detail:hover, .action_detail:active {
    background-color: #ffccb0;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .img {
        width: 50%;
        height:30vh;
        text-align: center;
    }

    .recommendation-title {
        margin-top: 2.5vh;
        margin-left: 5vw;
        font-size: 1.2rem;
    }

    .recommendation-content {
        margin-left: 5vw;
        margin-bottom: 1.5vh;
        font-size: 1.2rem;
    }

    .action_done {
        margin-left: 3vw;
        width: 25vw;
    }

    .action_detail {
        margin-right: 3vw;
        width: 25vw;
    }
}

@media screen and (min-width: 1025px) {
    .recommendation {
        width: 40vw;
        height: 55vh;
        margin: 2vw;
        position: relative;
    }

    .img {
        width: 45%;
        height:30vh;
        text-align: center;
    }

    .recommendation-title {
        margin-left: 3vw;
        font-size: 1.0rem;
    }

    .recommendation-content {
        margin-left: 3vw;
        font-size: 1.0rem;
    }

    .action_done {
        margin-left: 2vw;
        width: 13vw;
    }

    .action_detail {
        margin-right: 2vw;
        width: 13vw;
    }

}
