.wrap {
    width: 100%;
    margin: 0 auto;
}

.top_container {
    width: 100%;
    margin:0 auto;
}

.top {
    width: 100%;
}


.item_img {
    text-align: center;
    width:100%;
    background-color: #fbf6f4;
    /* border: solid #5c5c5c 0.05rem;
    border-bottom: none;
    border-radius: 20px 20px 0 0; */
}

.img {
    width:60%;
}

.contents {
    font-size: 1.2rem;
    margin-bottom:1.5vh;
}

.item_name {
    margin-top: 1.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.item_content {
    margin-top: 1.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.detail_button {
    display: flex;
    justify-content:space-around;
    margin-top: 2vh;
}

.main {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .contents {
        font-size: 1.5rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom:2.0vh;
    }

    .detail_button {
        width: 80%;
        margin: 0 auto;
    }

    .img {
        width:50%;
    }
}

@media screen and (min-width: 1025px) {
    .contents {
        font-size: 1.5rem;
        width: 85%;
        margin: 0 auto;
        margin-bottom:5.0vh;
    }

    .detail_button {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5vh;
    }

    .img {
        width: 50%;
    }
}

p {
    font-size: 1.0rem;
}

.youtube {
    margin-bottom:4vh;
}


@media screen and (min-width: 600px) {
    .video {
        text-align:center;
    }
}

@media screen and (min-width: 1025px) {
    .video {
        /*margin:0 auto;*/
        text-align:center;
    }

    .youtube {
        width: 60vw;
        margin:0 auto;
    }
}
